# changes file
*.changes

# system image
*.image

# Pharo Smalltalk Debug log file
PharoDebug.log

# Squeak Smalltalk Debug log file
SqueakDebug.log

# Monticello package cache
/package-cache

# playground cache
/play-cache
/play-stash

# Metacello-github cache
/github-cache
github-*.zip

#candv-bar-firebase-adminsdk-i73u1-eca35cfad9.json

finalpid-675de-firebase-adminsdk-fbsvc-0d2e98d7ac.json

